Datasets/Inception/astronomical_dataset.csv filter=lfs diff=lfs merge=lfs -text
Datasets/Inception/historical_weather_data.csv filter=lfs diff=lfs merge=lfs -text
Datasets/Data[[:space:]]Integration/statements.brf filter=lfs diff=lfs merge=lfs -text
Datasets/Data[[:space:]]Integration/statements.rdf filter=lfs diff=lfs merge=lfs -text
